.static {
    position: static;
    border: medium solid black
}

.relative {
    position: relative;
    border: medium solid black;
    left:30px
}

.fixed {
    position: fixed;
    border: medium solid black;
    bottom: 0;
    right: 0;
    width: 300px;

}

.absolute {
    position: absolute;
    border: medium solid black;
    width: 40%;
    height: 40%;
    top: 400px;
    left: 0; 
}

.sticky {
    position:sticky;
    border: medium solid black;
    top: 0;
}